# PlatformIO
.pio/
.vscode/
.pioenvs/
.clang_complete
.gcc-flags.json

# OS/system
.DS_Store
Thumbs.db

# Editor-specific
*.log
*.swp
*.swo
*.bak
*.tmp
.idea/
*.code-workspace

# AI-specific
AGENTS.md
security_analysis.md

# Project-specific
.github/
/src/main.cpp
platformio.ini
