# PlatformIO
.pio/
.vscode/
.pioenvs/
.clang_complete
.gcc-flags.json

# OS/system
.DS_Store
Thumbs.db

# Editor-specific
*.log
*.swp
*.swo
*.bak
*.tmp
.idea/
*.code-workspace

# Project-specific
.github/
/src/main.cpp
platformio.ini
